:root {
  min-height: 100vh;  
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

#bgApp {
  background-color: rgb(112, 128, 144);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pageContent {
  min-height: auto;
  width: 80vw;
  background-color: rgb(112, 128, 144);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appTitle {
  font-size: 2rem;

}

/* contact info component */


/* education component */


/* experience component */