:root {
  min-height: 100vh;  
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

#bgApp {
  background-color: rgb(170, 195, 220);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pageContent {
  min-height: auto;
  width: 80vw;
  background-color: rgb(170, 195, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#appTitle {
  font-size: 2rem;
  padding: 15px;
}

/* contact info component */
#contactInfoComponent {
  border: 3px solid white;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

/* education component */
#educationComponent {
  border: 3px solid white;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

/* experience component */
#experienceComponent {
  border: 3px solid white;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}