:root {
  min-height: 100vh;  
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

#bgApp {
  background-color: rgb(170, 195, 220);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pageContent {
  min-height: auto;
  width: 80vw;
  background-color: rgb(170, 195, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#appTitle {
  font-size: 2rem;
  padding: 15px;
}

/* general class for all components */
.labels {
  font-size: 1.1rem;
}

.componentTitle {
  font-size: 1.5rem;
}

.labelInput {
  display: flex;
  gap: 10px;
}

.buttonsDiv {
  display: flex;
  gap: 10px;
  justify-content: center;
}

textarea {
  width: 400px;
  height: 200px;
  resize: none;
}

input {
  font-size: 1.1rem;
}

.readonly {
  pointer-events: none;
  background-color: rgb(226, 226, 226);
}

/* contact info component */
#contactInfoComponent {
  border: 3px solid white;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 10px;
}

#contactInfoComponent > .componentTitle {
  align-self: center;
}

#contactInfoComponent .labelInput {
  margin-left: 87px;
}

/* education component */
#educationComponent {
  border: 3px solid white;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.labelCheckbox {

}

/* experience component */
#experienceComponent {
  border: 3px solid white;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.labelTextarea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Buttons component */
.buttons {
  font-size: 1.1rem;
  padding: 2px 0px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid rgb(70, 118, 215);
  color: white;
  background-color: rgb(70, 118, 215);
}

.buttons:hover {
  background-color: rgb(29, 73, 170);
  border: 1px solid rgb(29, 73, 170);
}

.buttons:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(203, 214, 238);
}
